/* Search bar styling */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.search-bar:first-child .search-bar:last-child {
  flex: 1;
}

.search-bar .text-input-wrapper {
  flex: 3;
}

.search-bar .text-input-wrapper,
.search-bar .text-input-wrapper label {
  border-radius: 25px;
}
